<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/boilerplate.css">    
    <link rel="stylesheet" href="/css/style.css">
    <title>Cidar - Build Radiator</title>
  </head>
  <body>
    <div id="top-git">
      <div class="total"></div>
      <div class="commiters"></div>
    </div>
    <div id="container">
      <div class="status-box">
        <ol>
          <li class="upstream">
            <span class="<%= status_of("core :: build") %>">Core</span>
            <span class="people">
              <% @status.commiters.each do |name| %>
                <img src="/images/<%=name%>.jpg"/>
              <% end %>
            </span>
            <span class="details"><%= @status.buildLabel %></span>                
            <span class="commit-message"><%= @status.commit_message %></span>
          </li>
          <li class="upstream">
            <span class="<%= status_of("track :: build") %>">Track</span>      
            <span class="people">
              <% @status.commiters.each do |name| %>
                <img src="/images/<%=name%>.jpg"/>
              <% end %>
            </span>
            <span class="details"><%= @status.buildLabel %></span>
            <span class="commit-message"><%= @status.commit_message %></span>
          </li>  
          <li class="upstream">
            <span class="<%= status_of("core-marklogic :: integration_functional_tests") %>">Core ML</span>
            <span class="people">
              <% @status.commiters.each do |name| %>
                <img src="/images/<%=name%>.jpg"/>
              <% end %>
            </span>
            <span class="details"><%= @status.buildLabel %></span>                
            <span class="commit-message"><%= @status.commit_message %></span>
          </li>
          <li class="upstream">
            <span class="<%= status_of("track-marklogic :: integration_functional_tests") %>">Track ML</span>      
            <span class="people">
              <% @status.commiters.each do |name| %>
                <img src="/images/<%=name%>.jpg"/>
              <% end %>
            </span>
            <span class="details"><%= @status.buildLabel %></span>
            <span class="commit-message"><%= @status.commit_message %></span>
          </li>  
          <li class="upstream">
            <span class="<%= status_of("aim :: build") %>">Aim</span>      
            <span class="people">
              <% @status.commiters.each do |name| %>
                <img src="/images/<%=name%>.jpg"/>
              <% end %>
            </span>
            <span class="details"><%= @status.buildLabel %></span> 
            <span class="commit-message"><%= @status.commit_message %></span>
          </li>  
          <li class="upstream">
            <span class="<%= status_of("identity :: build") %>">Identity</span>      
            <span class="people">
              <% @status.commiters.each do |name| %>
                <img src="/images/<%=name%>.jpg"/>
              <% end %>
            </span>
            <span class="details"><%= @status.buildLabel %></span>
            <span class="commit-message"><%= @status.commit_message %></span>
          </li>  
        </ol>
      </div>    
      <div class="status-box">
        <ol>
          <li>
            <span class="env <%= status_of('casper :: [\w]*-dev') %>">DEV</span>
            <span class="details"><%= @status.buildLabel %></span>
          </li>
          <li>
            <span class="env <%= status_of('casper :: system-tests') %>">Tests</span>
            <span class="details"><%= @status.buildLabel %></span>	
          </li>
          <li>
            <span class="env <%= status_of('casper :: [\w]*-qa') %>">QA</span>
            <span class="details"><%= @status.buildLabel %></span>
          </li>
        </ol>
      </div>
      <div class="status-box small">
        <span class="small <%= status_of("sig :: send-source-to-sig") %>">SIG</span>                        
        <div class="stars">
          <div class="cover"></div>
          <div class="progress" style="width: 84%;"></div>
        </div>
      </div>    
    </div>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>    
    <script defer src="js/global.js"></script>
    
  </body>
</html>
